<%- include('./layouts/header'); -%>


<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between">
            <h5 class="mb-0">Liste des Users</h5>

            <div class="mt-4 mt-sm-0">
                <a href="/users/add/newusers" class="btn btn-primary" >Add user</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 mt-4">
                <div class="table-responsive shadow rounded">
                    <table class="table table-center bg-white mb-0">
                        <thead>
                            <tr>
                                <th class="border-bottom p-3" style="min-width: 180px;">Name</th>
                    
                                <th class="border-bottom p-3">Mobile No.</th>
                                <th class="border-bottom p-3">Email</th>
                                <th class="border-bottom p-3">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (user of users){ %> 
                                <tr>
                                    <td class="py-3">
                                        <a href="#" class="text-dark">
                                            <div class="d-flex align-items-center">
                                                <img src="/assets/images/<%= user.avatar  %>" class="avatar avatar-md-sm rounded-circle shadow" alt="">
                                                <span class="ms-2"><%= user.prenom %> <%= user.nom %> </span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="p-3"><%= user.numero  %> </td>
                                    <td class="p-3"><%= user.email  %></td>
                                    <td class="text-end p-3">
                                        <a href="#" class="btn btn-icon btn-pills btn-soft-primary" data-bs-toggle="modal" data-bs-target="#viewprofile<%= user.id %>"><i class="uil uil-eye"></i></a>
                                        <a href="#" class="btn btn-icon btn-pills btn-soft-success" data-bs-toggle="modal" data-bs-target="#editprofile<%= user.id %>"><i class="uil uil-pen"></i></a>
                                        <a href="/users/delete/<%= user.id %>" class="btn btn-icon btn-pills btn-soft-danger"><i class="uil uil-trash"></i></a>
                                    </td>
                                </tr>
                                <% } %>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--end row-->

        <div class="row text-center">
            <!-- PAGINATION START -->
            <div class="col-12 mt-4">
                <div class="d-md-flex align-items-center text-center justify-content-between">
                    <span class="text-muted me-3">Showing 1 - 10 out of 50</span>
                    <ul class="pagination justify-content-center mb-0 mt-3 mt-sm-0">
                        <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous">Prev</a></li>
                        <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next">Next</a></li>
                    </ul>
                </div>
            </div><!--end col-->
            <!-- PAGINATION END -->
        </div><!--end row-->
    </div>
</div><!--end container-->
 <!-- Modal start -->
    <% for (user of users){ %>
        <div class="modal fade" id="editprofile<%= user.id %>" tabindex="-1" role="dialog" aria-labelledby="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header border-bottom p-3">
                        <h5 class="modal-title" id="exampleModalLabel">Profile Settings</h5>
                        <button type="button" class="btn btn-icon btn-close" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4 text-dark"></i></button>
                    </div>
                    <div class="modal-body p-3 pt-4">
                        <div class="row align-items-center">
                            <!-- <div class="col-lg-5 col-md-8 text-center text-md-start mt-4 mt-sm-0">
                                <h6 class="">Upload your picture</h6>
                                <p class="text-muted mb-0">For best results, use an image at least 256px by 256px in either .jpg or .png format</p>
                            </div>end col -->

                            <div class="col-lg-5 col-md-12 text-lg-end text-center mt-4 mt-lg-0">
                                <a href="#" class="btn btn-primary">Upload</a>
                                <a href="#" class="btn btn-soft-primary ms-2">Remove</a>
                            </div><!--end col-->
                        </div><!--end row-->
                    
                        <form action="users/update/<%= user.id %>" method="post" class="mt-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">prenom</label>
                                        <input name="prenom" id="name" type="text" value="<%= user.prenom %>" class="form-control" placeholder="prenom :">
                                    </div>
                                </div><!--end col-->

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">nom</label>
                                        <input name="nom" id="name2" type="text" value="<%= user.nom %>"class="form-control" placeholder="nom :">
                                    </div>
                                </div><!--end col-->

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input name="email" id="email" type="email"value="<%= user.email %>" class="form-control" placeholder="Your email :">
                                    </div> 
                                </div><!--end col-->

                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Telephone</label>
                                        <input name="numero" id="number" type="text" value="<%= user.numero %>" class="form-control" placeholder="Telephone:">
                                    </div>                                                                               
                                </div><!--end col-->
                            </div><!--end row-->
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <input type="submit" id="submit" name="send" class="btn btn-primary" value="Save changes">
                                </div><!--end col-->
                            </div><!--end row-->
                        </form><!--end form-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile Settings End -->

        <!-- Profile Start -->
        <div class="modal fade" id="viewprofile<%= user.id %>" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header border-bottom p-3">
                        <h5 class="modal-title" id="exampleModalLabel1">Profile</h5>
                        <button type="button" class="btn btn-icon btn-close" data-bs-dismiss="modal" id="close-modal"><i class="uil uil-times fs-4 text-dark"></i></button>
                    </div>
                    <div class="modal-body p-3 pt-4">
                        <div class="d-flex align-items-center">
                            <img src="../assets/images/<%= user.avatar  %>" class="avatar avatar-small rounded-pill" alt="">
                            <h5 class="mb-0 ms-3"><%= user.prenom %> <%= user.nom %></h5>
                        </div>
                        <ul class="list-unstyled mb-0 d-md-flex justify-content-between mt-4">
                            <li>
                                <ul class="list-unstyled mb-0">
                                    <li class="d-flex">
                                        <h6>Email:</h6>
                                        <p class="text-muted ms-2"><%= user.email %></p>
                                    </li>
                                    <li class="d-flex">
                                        <h6>Telephone:</h6>
                                        <p class="text-muted ms-2"><%= user.numero %></p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile End -->
        <!-- Modal end -->
    <% } %> 
<%- include('./layouts/footer'); -%>